.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.grid-item1 {
    background-color:brown;
    border: 1px solid #ccc;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}
.grid-item2 {
    background-color:rgb(145, 206, 145);
    border: 1px solid #ccc;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}
.grid-item3 {
    background-color:rgb(211, 57, 121);
    border: 1px solid #ccc;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}
.grid-item4 {
    background-color:rgb(67, 202, 90);
    border: 1px solid #ccc;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}
.grid-item5 {
    background-color:rgb(192, 41, 212);
    border: 1px solid #ccc;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}
.grid-item6 {
    background-color:rgb(0, 0, 0);
    border: 1px solid #ccc;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}
.grid-item7 {
    background-color:rgb(169, 252, 169);
    border: 1px solid #ccc;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}
.grid-item8 {
    background-color:rgb(255, 211, 14);
    border: 1px solid #ccc;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}
.grid-item9 {
    background-color:rgb(0, 204, 255);
    border: 1px solid #ccc;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}
.grid-item10 {
    background-color:rgb(0, 3, 172);
    border: 1px solid #ccc;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}

@media (min-width: 1200px) {
    .grid-item1 {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .grid-item1 {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .grid-item1 {
        flex: 1 1 100%; 
    }
}
@media (min-width: 1200px) {
    .grid-item2 {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .grid-item2 {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .grid-item2 {
        flex: 1 1 100%; 
    }
}
@media (min-width: 1200px) {
    .grid-item3 {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .grid-item3 {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .grid-item3 {
        flex: 1 1 100%; 
    }
}
@media (min-width: 1200px) {
    .grid-item4 {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .grid-item4 {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .grid-item4 {
        flex: 1 1 100%; 
    }
}
@media (min-width: 1200px) {
    .grid-item5 {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .grid-item5 {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .grid-item5 {
        flex: 1 1 100%; 
    }
}
@media (min-width: 1200px) {
    .grid-item6 {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .grid-item6 {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .grid-item6 {
        flex: 1 1 100%; 
    }
}
@media (min-width: 1200px) {
    .grid-item7 {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .grid-item7 {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .grid-item7 {
        flex: 1 1 100%; 
    }
}
@media (min-width: 1200px) {
    .grid-item8 {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .grid-item8 {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .grid-item8 {
        flex: 1 1 100%; 
    }
}
@media (min-width: 1200px) {
    .grid-item9 {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .grid-item9 {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .grid-item9 {
        flex: 1 1 100%; 
    }
}
@media (min-width: 1200px) {
    .grid-item10 {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .grid-item10 {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .grid-item10 {
        flex: 1 1 100%; 
    }
}
