@font-face {
    font-family: 'cyrillic_pixel-7';
    src: url('cyrillic_pixel-7.tff') format('tff');
}
body {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    font-size: 24px;
    font-family: "cyrillic_pixel-7";
    text-align: center;
    color: #333;
}

h2 {
    font-size: 18px;
    font-family: "cyrillic_pixel-7";
    color: #555;
}

p, ul, ol, table {
    margin-bottom: 1em;
}

.center-img {
    display: block;
    margin: 0 auto;
}

.float-left {
    float: left;
    margin: 0 15px 15px 0;
}

.float-right {
    float: right;
    margin: 0 0 15px 15px;
}


table.t2 {
    width: 100%;
    border-collapse: collapse;
    font-family: Georgia;
}
.t2 caption {
    padding-bottom: 0.5em;
    font-weight: bold;
    font-size: 16px;
}
.t2 th, .t2 td {
    padding: 4px 8px;
    border: 2px solid #fff;
    background: #fbd7b4;
}
.t2 thead th {
    padding: 2px 8px;
    background: #eb8a3a;
    text-align: left;
    font-weight: normal;
    font-size: 13px;
    color: #fff;
}
.t2 tbody tr:nth-child(odd) *:nth-child(even), 
.t2 tbody tr:nth-child(even) *:nth-child(odd) {
    background: #f3eddd;
}
.t2 tfoot th {
    padding: 2px 8px;
    background: #eb8a3a;
    text-align: left;
    font-weight: normal;
    font-size: 10px;
    color: #fff;
}
.t2 tr *:nth-child(3), 
.t2 tr *:nth-child(4) {
    text-align: left;
}

pre {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 10px;
    overflow: auto;
    border-radius: 5px;
}
precolor {
    color:#0073e6;
}
precolor2 {
    color:red;
}

pre code {
    font-family: monospace;
    font-size: 14px;
    display: block;
    white-space: pre-wrap;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    background-color: #eb8a3a;
}

nav li {
    background-color: #eb8a3a;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    text-decoration: underline;
}
pl {
    list-style-image: url(assembly.jpg);
   }
